#calc {
    border: 1px solid black;
    background-color: black;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template: 150px 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 1px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 8px 8px 10px black;
}

#calc>div {
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#calc>div:hover {
    background-color: #DEDEDE;
}

#calc>div:active {
    background-color: gray;
}

div#screen {
    grid-column: 1/5;
    justify-content: right;
    padding-right: 15px;
    font-size: 45px;
}

.double {
    grid-column-end: span 2;
}