body{
    margin: 0;
    background-color: cadetblue;
    font-weight: bold;
    font-family: sans-serif;
}
#game{
    border: 3px solid black;
    margin-top: 15px;
    width: 413px;
    height: 413px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
}
.pole{
    background-color: white;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pole:hover{
    background-color: #DEDEDE;
}